.divFilter{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 250px;    
    display: grid;  
    align-content: flex-start;
}
.divTemp{
display: grid;
width: 250px;
height: 350px;
overflow-y: scroll;
}
.divBar{
    width: 250px;
    display: grid;
    grid-template-columns: 80% auto;
    padding-top: 10px; 
    padding-bottom: 10px;  
}
.text{
    border:none;
    border-top: 0.01px solid rgba(0, 0, 0, 0.295);
    border-bottom: 0.01px solid rgba(0, 0, 0, 0.295);
    padding-left: 10px;
    height: 30px;
    font-family: var(--font-family-standar);
    font-size: 18px;
}
.text:focus{
    outline: none;
}
.searchBtn{
     border: none;
     background-color: var(--pink);
     font-family: var(--font-family-standar);
     font-size: 20px;
     padding-bottom: 5px;
     border-radius: 0 20px 20px 0 ;
     -webkit-border-radius: 0 20px 20px 0 ;
     -moz-border-radius: 0 20px 20px 0 ;
     -ms-border-radius: 0 20px 20px 0 ;
     -o-border-radius: 0 20px 20px 0 ;
}
.searchBtn:hover{
    background-color: var(--color-font-white);
}
.divBtns{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto ;

}
.btnAW{
    grid-column: 1/2;
    height: 30px;
    background-color: var(--color-font-white);
    font-size: 20px;
    font-family: var(--font-family-standar);
    border: none;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}
.btnAW:hover{
    background-color: var(--pink);
}
.filterBtn{
    background-color: var(--pink);
    font-family: var(--font-family-standar);
    font-size: 20px;
    font-weight: bold;
    border: none;
    height: 30px;
    margin-top: 15px;

    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}
.filterBtn:hover{
    background-color: var(--color-font-white);
}
.pills{
    border:1px solid var(--pills-base);
    margin-bottom: 5px;
    color: var(--pills-base);    
    border-radius: 15px;
    font-family: var(--font-family-standar);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.pills:hover{
    color: var(--pink);
    border: 1px solid var(--pink)
}
.pillsClicked{
    border:1px solid var(--pills-base);
    margin-bottom: 5px; 
    border-radius: 15px;
    font-family: var(--font-family-standar);
    background-color: var(--pink);
    color: black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}