.container{
    background-color: var(--backgound-app-color);
    height: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 40px auto;
}
.navBar{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: var(--color-font-white);
    height: 40px;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-between;
}
.home{
    background-color: var(--pink);
    text-decoration: none;
    color:black;
    border: none;
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 30px;
    padding-right: 10px;
    border-radius:0 20px 20px 0  ;
    -webkit-border-radius:0 20px 20px 0  ;
    -moz-border-radius:0 20px 20px 0  ;
    -ms-border-radius:0 20px 20px 0  ;
    -o-border-radius:0 20px 20px 0  ;
    padding-left: 5px;
    padding-right: 10px;
    align-self: center;
  }
  .home:hover{
    background-color: black;
    color:var(--pink) ;
  }
  .add{
    background-color: var(--pink);
    text-decoration: none;
    color:black;
    padding-left: 15px;
    font-size: 30px;
    padding-right: 10px;
    border-right: solid 1px var(--color-font-white);
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;}
  .add:hover{
    background-color: black;
    color:var(--pink);
  }